# secret info
import os

COSTCO_USERNAME = "XXXXX@XXX.com"
COSTCO_PASSWORD = "*****"

BESTBUY_API_TOKEN = "XXXXXXXXXXXXXXX"

DEAL_SITE_API_ENDPOINT = "http://XX.XX.XX.XX"
DEAL_SITE_API_DOOR = DEAL_SITE_API_ENDPOINT+"/posts_create/"
DEAL_SITE_POST_DETAIL = DEAL_SITE_API_ENDPOINT+"/posts/"
DEAL_SITE_TOKEN = "*********************""
